@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');
* {
    margin: 0px;
    paddin: 0px;
    box-sizing: border-box;
    font-family: "Lexend", sans-serif;
}

.full-header {
    padding: 24px;  
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: #201d1d;
    color: #fafafa;
}
#src-link-header {
    padding: 20px;
    text-decoration: none;
    color: #fafafa
}

.htmlimg {
    width: 500px;
    height: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 25px;
    border-radius: 5px;
}

#btn-fundamentos {
    background-color: rgb(13, 71, 113);
    border: none;
    color: #fafafa;
    padding: 10px;
    border-radius: 5px;
}

/* stylelint-disable @stylistic/selector-list-comma-newline-after */

.blog-header-logo {
  font-family: "Playfair Display", Georgia, "Times New Roman", serif/*rtl:Amiri, Georgia, "Times New Roman", serif*/;
  font-size: 2.25rem;
}

.blog-header-logo:hover {
  text-decoration: none;
}

.container {
    padding: 10px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Playfair Display", Georgia, "Times New Roman", serif/*rtl:Amiri, Georgia, "Times New Roman", serif*/;
}

.flex-auto {
  flex: 0 0 auto;
}

.h-250 { height: 250px; }
@media (min-width: 768px) {
  .h-md-250 { height: 250px; }
}

/* Pagination */
.blog-pagination {
  margin-bottom: 4rem;
}

/*
 * Blog posts
 */
.blog-post {
  margin-bottom: 4rem;
}
.blog-post-meta {
  margin-bottom: 1.25rem;
  color: #727272;
}